/* about section */
/* rgb(160, 0, 253); */


.about {
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30rem;
    /* background-color: rgb(249, 246, 255); */
    background-color: var(--about-bg);
    border-bottom: 1px solid var(--about-border);
    margin-top: 1rem;
    .about-description {
        h3 {
            text-align: center;
            color: var(--about-h3-color);
            font-size: 2rem;
            font-weight: 300;
            margin-top: 4rem;
            .about-welcome {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 4rem;
                color: var(--about-welcome-color);
            }
            .about-msg {
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }

    /* search */
    .search {
        .search-input {
            background-color: var(--search-input-bg);
            outline: none;
            border: 1px solid var(--search-input-border);
            height: 3rem;
            width: 35rem;
            color: var(--search-input-color);
            text-align: center;
            font-family: 'Lexend', sans-serif;
            font-size: 1rem;
            transition: .2s;
            &:focus {
                border: 1px solid var(--search-input-border-fc);
            }
        }
        .search-btn {
            height: 3rem;
            background-color:var(--search-btn-bg);
            border: 1px solid var(--search-btn-border);
            width: 8rem;
            outline: none;
            cursor: pointer;
            font-family: 'Lexend', sans-serif;
            font-size: 1rem;
            color:var(--search-btn-color);
            transition: .2s;
            &:hover {
                color: var(--search-btn-color-hv);
                background-color: var(--search-btn-bg-hv);
            }
        }
    }
}