.black-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.recipe-profile {
    background-color: white;
    height: 50rem;
    width: 60rem;
    position: fixed;
    border-radius: 1rem;
    .recipe-name {
        background-color: rgb(170, 134, 255);
        height: 4rem;
        color: white;
        font-family: 'Lexend', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .recipe-description {
        color: rgb(87, 87, 87);
        margin: 2rem 2rem 0rem 2rem;
        font-family: 'Lexend', sans-serif;
    }
}

