.black-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.recipe-profile {
    background-color: var(--recipe-profile-bg);
    height: 50rem;
    width: 60rem;
    position: fixed;
    border-radius: 1rem;

    .recipe-category {
        color: var(--recipe-profile-category-color);
        margin: 2rem 2rem 0rem 2rem;
        font-family: 'Lexend', sans-serif;
        // font-weight: bold;
        .category-span {
            color: var(--recipe-profile-category-span-color);
        }
    }
    .recipe-name {
        background-color: var(--recipe-profile-name-bg);
        height: 4rem;
        color: var(--recipe-profile-name-color);
        font-family: 'Lexend', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        text-align: center;

    }
    .recipe-description {
        color: var(--recipe-profile-description-color);
        margin: 2rem 2rem 0rem 2rem;
        font-family: 'Lexend', sans-serif;
        .instructions-text {
            overflow-y: scroll;
            height: 25rem;
            margin-right: .3rem;
        }
    }

    .recipe-link {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin-top: 3rem;
            text-decoration: none;
            background-color: var(--recipe-profile-link-a-bg);
            color: var(--recipe-profile-link-a-color);
            padding: 2rem;
            border-radius: 1rem;
            font-family: 'Lexend', sans-serif;
            transition: .2s;
            border: 2px solid transparent;
            &:hover {
                color: var(--recipe-profile-link-a-color-hover);
                background-color: transparent;
                border: 2px solid var(--recipe-profile-link-a-border-color-hover);
                transition: .2s;
            }
        }
    }
}

