/* results div */
.results {
    /* background-color: rgb(170, 134, 255); */
    background-color: var(--results-bg);
    min-height: 31rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    h3 {
        font-family: 'Lexend', sans-serif;
        text-align: center;
        font-weight: 500;
        color: var(--results-h3-color);
        span {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 3rem;
            color:var(--results-span-color);
        }
    }
    .recipe-output {
        display: none;
        grid-template-columns: repeat(6, 1fr);

        /* ---- recipe template ---- */
        .recipe {
            border: 1px solid var(--recipe-border);
            margin: 1rem 0rem 1rem 1rem;
            background-color: var(--recipe-bg);
            width: 15rem;
            min-height: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            .recipe-image {
                height: 70%;
            }
            .recipe-description {
                background-color: var(--recipe-description-color);
                height: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                font-family: 'Lexend', sans-serif;
                flex-wrap: wrap;
                .recipe-category {
                    color: var(--recipe-category-color);
                }
                .recipe-name {
                    color: var(--recipe-name-color);
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
}