* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* rgb(160, 0, 253); */

/* navigation bar */

.navbar {
    font-family: 'Lexend', sans-serif;
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(236, 236, 236);
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: rgb(249, 246, 255); */
    background-color: white;
}

/* navigation bar left */
.navbar-left {
    margin-left: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75rem;
    flex-wrap: wrap;
}

.navbar-left h1 {
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: 300;
   color: rgb(170, 134, 255);
}

.navbar-left a {
    text-decoration: none;
    /* color: rgb(59, 59, 59); */
    color: rgb(87, 87, 87);
    font-weight: 500;
    font-size: 1rem;
    transition: .2s;
}

.navbar-left a:hover {
    color: rgb(170, 134, 255);
}

i {
    margin-left: .7rem;
    font-size: 1.4rem;
    color: rgb(170, 134, 255);
}

/* navigation bar right */
.navbar-right {
    margin-right: 4rem;
}

.navbar-right span {
    font-size: 1rem;
    cursor: pointer;
    /* color: rgb(59, 59, 59); */
    color: rgb(87, 87, 87);
    transition: .2s;
    font-weight: 500;
}

.navbar-right span:hover {
    color:rgb(170, 134, 255);
}

/* about section */
.about {
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30rem;
    /* background-color: rgb(249, 246, 255); */
    background-color: white;
    border-bottom: 1px solid rgb(236, 236, 236);
    margin-top: 1rem;
}

.about-description h3 {
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 2rem;
    font-weight: 300;
    margin-top: 4rem;
}

.about-description .about-welcome {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4rem;
    color:rgb(170, 134, 255);
}

.about-description .about-msg {
    font-size: 2rem;
    font-weight: 400;
}

/* search */

.search-input {
    background-color: white;
    outline: none;
    border: 1px solid rgba(170, 134, 255, 0.418);
    height: 3rem;
    width: 35rem;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    transition: .2s;
}

.search-input:focus {
    border: 1px solid rgb(170, 134, 255);
}

.search-btn {
    height: 3rem;
    background-color:rgb(170, 134, 255);
    border: 1px solid rgb(170, 134, 255);
    width: 8rem;
    outline: none;
    cursor: pointer;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    color: white;
    transition: .2s;
}

.search-btn:hover {
    color: rgb(170, 134, 255);
    background-color: white;

}

/* results div */
.results {
    /* background-color: rgb(170, 134, 255); */
    background-color: rgb(252, 252, 252);
    height: 31rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results h3 {
    /* color: white; */
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-weight: 500;
    color:rgb(59, 59, 59);
}

.results span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    color:rgb(170, 134, 255);
}

.footer {
    min-height: 6rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lexend', sans-serif;
    border-top: 1px solid rgb(236, 236, 236);
}

.footer-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color:rgb(170, 134, 255);
    font-size: 1.5rem;
}

.footer-title span {
    color:rgb(59, 59, 59);
    font-weight: 300;
}

.footer-app {
    letter-spacing: 2px;
    font-weight: 500;
    color:rgb(59, 59, 59);
    font-size: 1rem;
    margin-left: 30rem;
}

.footer-app span {
    color: rgb(170, 134, 255);
}

/* dropdown */
.dropdown {
    position: absolute;
    background-color: rgb(170, 134, 255);
    width: 10rem;
    margin-top: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: .2s;
}

.dropdown li {
    padding: 1rem;
    list-style-type: none;
    text-align: center;
    color:white;
    cursor: pointer;
    transition: .2s;
    border: 1px solid rgb(178, 147, 248);
}

.dropdown li:hover {
    background-color: white;
    color: rgb(170, 134, 255);
}

.show-category:focus + .dropdown {
    pointer-events: all;
    opacity: 1;
}