:root {
  --nav-bg: white;
  --nav-border: rgb(236, 236, 236);
  --nav-h1: rgb(170, 134, 255);
  --nav-link-color: rgb(87, 87, 87);
  --nav-link-color-hv: rgb(170, 134, 255);
  --nav-icons-color: rgb(170, 134, 255);
  --nav-dropdown-bg: rgb(170, 134, 255);
  --nav-dropdown-li: white;
  --nav-dropdown-li-border-hv: rgb(178, 147, 248);
  --nav-dropdown-li-bg-hv: white;
  --nav-dropdown-li-color-hv: rgb(170, 134, 255);
  --nav-rg-color: rgb(87, 87, 87);
  --nav-rg-color-hv: rgb(170, 134, 255);
  --nav-rg-color-icon: rgb(170, 134, 255);
  --about-bg: white;
  --about-border: rgb(236, 236, 236);
  --about-h3-color: rgb(59, 59, 59);
  --about-welcome-color: rgb(170, 134, 255);
  --search-input-bg: white;
  --search-input-border: rgb(170, 134, 255, 0.418);
  --search-input-border-fc: rgb(170, 134, 255);
  --search-btn-bg: rgb(170, 134, 255);
  --search-btn-color: white;
  --search-btn-border: rgb(170, 134, 255);
  --search-btn-color-hv: rgb(170, 134, 255);
  --search-btn-bg-hv: white;
  --results-bg: rgb(255, 255, 255);
  --results-h3-color: rgb(59, 59, 59);
  --results-span-color: rgb(170, 134, 255);
  --recipe-border: rgb(226, 226, 226);
  --recipe-bg:white;
  --recipe-description-color: rgb(194, 171, 247);
  --recipe-category-color: white;
  --recipe-name-color: white;
  --footer-bg: white;
  --footer-border: rgb(236, 236, 236);
  --footer-title-color: rgb(170, 134, 255);
  --footer-title-span: rgb(59, 59, 59);
  --footer-app-color: rgb(59, 59, 59);
  --footer-app-span: rgb(170, 134, 255);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* navigation bar */
/* rgb(160, 0, 253); */
.navbar {
  font-family: 'Lexend', sans-serif;
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid var(--nav-border);
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: rgb(249, 246, 255); */
  background-color: var(--nav-bg);
  /* navigation bar left */
  /* navigation bar right */
}

.navbar .navbar-left {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .navbar-left h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--nav-h1);
}

.navbar .navbar-left a {
  text-decoration: none;
  color: var(--nav-link-color);
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.navbar .navbar-left a:hover {
  color: var(--nav-link-color-hv);
}

.navbar .navbar-left a i {
  margin-left: .7rem;
  font-size: 1.1rem;
  color: var(--nav-icons-color);
}

.navbar .navbar-left .categories .dropdown {
  position: absolute;
  background-color: var(--nav-dropdown-bg);
  width: 10rem;
  margin-top: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
  pointer-events: none;
}

.navbar .navbar-left .categories .dropdown li {
  padding: 1rem;
  list-style-type: none;
  text-align: center;
  color: var(--nav-dropdown-li);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid var(--nav-dropdown-li-border);
}

.navbar .navbar-left .categories .dropdown li:hover {
  background-color: var(--nav-dropdown-li-bg-hv);
  color: var(--nav-dropdown-li-color-hv);
}

.navbar .navbar-right {
  margin-right: 4rem;
}

.navbar .navbar-right span {
  font-size: 1rem;
  cursor: pointer;
  /* color: rgb(59, 59, 59); */
  color: var(--nav-rg-color);
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 500;
}

.navbar .navbar-right span i {
  margin-left: .7rem;
  font-size: 1.1rem;
  color: var(--nav-rg-color-icon);
}

.navbar .navbar-right span:hover {
  color: var(--nav-rg-color-hv);
}

.navbar .navbar-right .mobile-categories {
  display: none;
}

/* about section */
/* rgb(160, 0, 253); */
.about {
  font-family: 'Lexend', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30rem;
  /* background-color: rgb(249, 246, 255); */
  background-color: var(--about-bg);
  border-bottom: 1px solid var(--about-border);
  margin-top: 1rem;
  /* search */
}

.about .about-description h3 {
  text-align: center;
  color: var(--about-h3-color);
  font-size: 2rem;
  font-weight: 300;
  margin-top: 4rem;
}

.about .about-description h3 .about-welcome {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4rem;
  color: var(--about-welcome-color);
}

.about .about-description h3 .about-msg {
  font-size: 2rem;
  font-weight: 400;
}

.about .search .search-input {
  background-color: var(--search-input-bg);
  outline: none;
  border: 1px solid var(--search-input-border);
  height: 3rem;
  width: 35rem;
  color: var(--search-input-color);
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.about .search .search-input:focus {
  border: 1px solid var(--search-input-border-fc);
}

.about .search .search-btn {
  height: 3rem;
  background-color: var(--search-btn-bg);
  border: 1px solid var(--search-btn-border);
  width: 8rem;
  outline: none;
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
  color: var(--search-btn-color);
  -webkit-transition: .2s;
  transition: .2s;
}

.about .search .search-btn:hover {
  color: var(--search-btn-color-hv);
  background-color: var(--search-btn-bg-hv);
}

/* results div */
.results {
  /* background-color: rgb(170, 134, 255); */
  background-color: var(--results-bg);
  min-height: 31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results h3 {
  font-family: 'Lexend', sans-serif;
  text-align: center;
  font-weight: 500;
  color: var(--results-h3-color);
}

.results h3 span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  color: var(--results-span-color);
}

.results .recipe-output {
  display: none;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  /* ---- recipe template ---- */
}

.results .recipe-output .recipe {
  border: 1px solid var(--recipe-border);
  margin: 1rem 0rem 1rem 1rem;
  background-color: var(--recipe-bg);
  width: 15rem;
  min-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.results .recipe-output .recipe .recipe-image {
  height: 70%;
}

.results .recipe-output .recipe .recipe-description {
  background-color: var(--recipe-description-color);
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: 'Lexend', sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.results .recipe-output .recipe .recipe-description .recipe-category {
  color: var(--recipe-category-color);
}

.results .recipe-output .recipe .recipe-description .recipe-name {
  color: var(--recipe-name-color);
  text-align: center;
}

/* footer */
.footer {
  min-height: 6rem;
  background-color: var(--footer-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Lexend', sans-serif;
  border-top: 1px solid var(--footer-border);
}

.footer .footer-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--footer-title-color);
  font-size: 1.5rem;
}

.footer .footer-title span {
  color: var(--footer-title-span);
  font-weight: 300;
}

.footer .footer-app {
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--footer-app-color);
  font-size: 1rem;
  margin-left: 30rem;
}

.footer .footer-app span {
  color: var(--footer-app-span);
}

@media only screen and (max-width: 767px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .navbar .navbar-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navbar .navbar-left h1 {
    font-size: 2rem;
  }
  .navbar .navbar-left .categories, .random-recipe {
    margin-top: .5rem;
  }
  .navbar .navbar-left .api-link, .github-link {
    display: none;
  }
  .navbar .navbar-left .categories .dropdown {
    right: 0;
    margin-top: 2.2rem;
    width: 100%;
  }
  .navbar .navbar-left .categories .dropdown li {
    padding: .2rem;
    font-size: 1rem;
  }
  .navbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3rem;
    margin-left: 4rem;
  }
  .about .search .search-input {
    width: 14rem;
  }
  .about .search .search-btn {
    width: 5rem;
  }
  .about .about-description h3 {
    margin-top: 8rem;
  }
  .about .about-description h3 .about-welcome {
    font-size: 2rem;
  }
  .about .about-description h3 .about-msg {
    font-size: .9rem;
  }
  .results h3 span {
    font-size: 1.5rem;
  }
  .results h3 {
    font-size: 1rem;
  }
  .results .recipe-output {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .results .recipe-output .recipe {
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-title {
    font-size: 1rem;
  }
  .footer .footer-app {
    margin: 0;
    font-size: .8rem;
  }
  .footer .footer-app span {
    font-size: .8rem;
  }
}

.dark {
  --nav-bg: rgb(43, 43, 43);
  --nav-border: rgb(51, 51, 51);
  --nav-h1: rgb(241, 232, 104);
  --nav-link-color: white;
  --nav-link-color-hv: rgb(241, 232, 104);
  --nav-icons-color: rgb(241, 232, 104);
  --nav-dropdown-bg: rgb(46, 46, 46);
  --nav-dropdown-li: white;
  --nav-dropdown-li-border: rgb(51, 51, 51);
  --nav-dropdown-li-bg-hv: rgb(241, 232, 104);
  --nav-dropdown-li-color-hv: white;
  --nav-rg-color: white;
  --nav-rg-color-hv: rgb(241, 232, 104);
  --nav-rg-color-icon: rgb(241, 232, 104);
  --about-bg: rgb(43, 43, 43);
  --about-border: rgb(51, 51, 51);
  --about-h3-color: white;
  --about-welcome-color: rgb(241, 232, 104);
  --search-input-bg: rgb(51, 51, 51);
  --search-input-border: rgba(70, 70, 70, 0.5);
  --search-input-border-fc: rgb(241, 232, 104);
  --search-input-color: white;
  --search-btn-bg: transparent;
  --search-btn-color: rgb(241, 232, 104);
  --search-btn-border: rgb(241, 232, 104);
  --search-btn-color-hv: white;
  --search-btn-bg-hv: rgb(241, 232, 104);
  --results-bg: rgb(43, 43, 43);
  --results-h3-color: white;
  --results-span-color: rgb(241, 232, 104);
  --recipe-border: rgb(241, 232, 104);
  --recipe-bg:rgb(241, 232, 104);
  --recipe-description-color: rgb(241, 232, 104);
  --recipe-category-color: white;
  --recipe-name-color: white;
  --footer-bg: rgb(43, 43, 43);
  --footer-border: rgb(51, 51, 51);
  --footer-title-color: rgb(241, 232, 104);
  --footer-title-span: white;
  --footer-app-color: white;
  --footer-app-span: rgb(241, 232, 104);
}
/*# sourceMappingURL=styles.css.map */